<template ngbModalContainer></template>
<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete Hero</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure want to delete?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>

<table class="table table-hover" *ngIf="heroes && heroes.length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroes">
            <td>{{hero.id}}</td>
            <td>{{hero.name}}</td>
            <td>
                <button class="btn btn-primary" (click)="viewHero(hero)">
                    View
                </button>
                <button class="btn btn-default" (click)="deleteHero(content, hero)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
