<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" routerLink="/home">Heroes of the World</a>    
    <div class="collapse navbar-collapse" id="myNavbar" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/home" *ngIf="authorization.hasHomePage" routerLinkActive="active">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/heroes" *ngIf="authorization.hasHeroesPage" routerLinkActive="active">Heroes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/add" *ngIf="authorization.hasHeroesPage" routerLinkActive="active">Add</a></li>
            <li class="nav-item" class="nav-item"><a class="nav-link" routerLink="/dashboard" *ngIf="authorization.hasDashboardPage" routerLinkActive="active">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/help" *ngIf="authorization.hasHomePage" routerLinkActive="active">Help</a></li>
            <!--<li class="nav-item"><a routerLink="/view" *ngIf="authorization.hasHeroesPage" routerLinkActive="active">View</a></li>-->
        </ul>
        <ul class="navbar-nav navbar-right">
            <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
            <!-- <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li> -->
            <li class="nav-item logout">
                <a class="nav-link" href="/heroes/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                <!--<form action="/heroes/logout"  #loginForm="ngForm" method="POST">
            <input type="submit" value="Logout" class="btn-link" />
          </form>-->
            </li>
        </ul>
    </div>
</nav>